
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--card-color);
    color: var(--font-color);
    padding: 20px;
    margin: 20px;
    align-items: center;
    border-radius: 3.0rem;
}

.card__text--name {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}
.card__image {
    height: 15.0rem;
}
    .character{
        display: flex;
        flex-direction: column;
        align-items:flex-start ;
        padding: 2.0rem;
        width: 100%;
    }
.character__text--status {
    margin: 0;
}
.character__text--specie {
    margin: 0;
}
.character__text--gender {
    margin: 0;
}